Source: hello
Section: utils
Priority: optional
Maintainer: Craig Yang <nikeasyanzi@gmail.com>
Build-Depends: debhelper-compat (= 12), autotools-dev, debhelper (>= 9), texinfo
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/hello
#Vcs-Git: https://salsa.debian.org/debian/hello.git

Package: hello
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This is a testing 
 A funny testing package
